<!-- edit.html -->
<form action="/action/edit" method="POST">
<input type="text" name="path" value="{{ path }}" /> Mode: 
{% if filetype == "html" or filetype == "htm" %}
<input type="radio" name="mode" value="p" {% if current_mode == "p" %}checked{% endif %}/> Parse
{% endif %}
<input type="radio" name="mode" value="r" {% if current_mode == "r" %}checked{% endif %}/> Raw
<input type="radio" name="mode" value="s" {% if current_mode == "s" %}checked{% endif %}/> Show

| Visibility: 
<input type="radio" name="visibility" value="p" {% if current_visibility == "p" %}checked{% endif %}/> Public
<input type="radio" name="visibility" value="h" {% if current_visibility == "h" %}checked{% endif %}/> Hide
<input type="radio" name="visibility" value="o" {% if current_visibility == "o" %}checked{% endif %}/> Once
<input type="submit" value="save">
<a href="/dashboard">Back</a><br>
<textarea overflow="scroll" name="filecontent" style="width:100%;" rows="10000000">{{ filecontent }}</textarea>
</form>