{% extends "dashboard/base.html" %}

{% block title %}Editing - {{ request.args.get("path") }} {% endblock %}

{% block head_content %}
    <link rel="stylesheet" href="/static/vendor/codemirror/lib/codemirror.css">
    <style>
        .CodeMirror {
            height: 60vh;
            min-height: 300px;
            border: 1px solid black;
        }
    </style>
{% endblock %}

{% block content %}
<div class="card">
    <div class="form-group">
    <label>File Path</label>
    <input type="text" id="path" value="{{ file.path if file else "/" + g.user.username + "/" }}" class="form-input" placeholder="File Path">
</div>

<div class="form-group">
    <label>Title</label>
    <input type="text" id="title" value="{{ file.title if file else "" }}" class="form-input" placeholder="File Title">
</div>

<div class="form-group" >
    <button onclick="password_field_toggle()" class="btn">Password Protection</button>
    <div id="password-field-container" class="form-inline" style="display:none;">
        <label>Set password</label>
        <input type="password" style="display: none;"> <!-- Fake Password Field -->
        <input type="password" id="password" value="{{ file.password }}" class="form-input" placeholder="Password" autocomplete="new-password">
        <button id="password-toggle-button" onclick="toggle_password()" class="btn">Show</button>
    </div>
</div>

<div class="form-inline">
    <div class="form-group">
        <label>File Mode</label>
        <select id="mode" class="form-select">
            <option value="{{ FileMode.SOURCE }}" {% if file and file.mode == FileMode.SOURCE %}selected{% endif %}>Source</option>
            <option value="{{ FileMode.RENDER }}" {% if file and file.mode == FileMode.RENDER %}selected{% endif %}>Render</option>
        </select>
    </div>

    <div class="form-group">
        <label>File Visibility</label>
        <select id="visibility" class="form-select">
            <option value="{{ FileVisibility.PUBLIC }}" {% if file and file.visibility == FileVisibility.PUBLIC %}selected{% endif %}>Public</option>
            <option value="{{ FileVisibility.HIDDEN }}" {% if file and file.visibility == FileVisibility.HIDDEn %}selected{% endif %}>Hidden</option>
            <option value="{{ FileVisibility.ONCE }}" {% if file and file.visibility == FileVisibility.ONCE %}selected{% endif %}>Once</option>
        </select>
    </div>
</div>

{% if not file %}
<div class="form-group">
    <div>
        <label for="as-guest">As Guest</label>
        <input id="as-guest" type="checkbox">
        <label id="as-guest-warning" style="display:none;color:orange;">You won't be able to edit after creation</label>
    </div>
</div>

<div id="ext-field-container" class="form-group" style="display: none;">
    <label>File Extension:</label>
    <input id="ext" type="text" class="form-input" value="txt">
</div>
{% endif %}

<div class="form-group">
    <div class="form-inline">
        <button id="switch-text-editor-button" onclick="switch_to_text_editor()" class="btn">Text Mode</button>
        <button id="switch-hex-editor-button" onclick="switch_to_hex_editor()" class="btn">Hex Mode</button>
        <button id="switch-binary-editor-button" onclick="switch_to_binary_editor()" class="btn">Binary Mode</button>
        <button id="line-number-toggle-button" onclick="toggle_editor_linenos()" class="btn">Line Numbers</button>
        <select id="indent-unit-selector" onchange="update_editor_indent_unit()" class="form-select" style="width:auto;"></select>
        <button id="indent-with-tabs-toggle-button" onclick="toggle_editor_indent_with_tabs()" class="btn">Spaces</button>
        <select id="tab-size-selector" onchange="update_editor_tab_size()" class="form-select" style="width:auto;"></select>
        <select id="theme-selector" onchange="update_editor_theme()" class="form-select" style="width:auto;"></select>
        <select id="font-size-selector" onchange="update_editor_font_size()" class="form-select" style="width:auto;"></select>
    </div>
</div>

<div class="form-group">
    <div id="editor-container">
        <textarea id="editor" class="form-textarea" style="width: 100%;"></textarea>
    </div>
</div>

<div class="form-group">
    <button class="btn btn-primary" onclick="save()">Save</button>
</div>

</div>
{% endblock %}

{% block after_body %}
<script>
window.file_id = {{ file.id if file else 0 }};
window.file_type = "";
{% if file %}
{% if file.blob.type == BlobType.TEXT %}
window.file_type = "text";
{% else %}
window.file_type = "{{ file.type_s }}";
{% endif %}
{% endif %}
window.file_path = "{{ file.path if file else "" }}";
</script>
<script src="/static/js/private-api.js"></script>
<script src="/static/js/codemirror.js"></script>
<script src="/static/vendor/codemirror/lib/codemirror.js"></script>
<script src="/static/vendor/codemirror/mode/meta.js"></script>
<script src="/static/js/pages/dashboard/file-edit.js"></script>
{% endblock %}
