{# Git Clone #}
{% extends "dashboard/base.html" %}
{% block title %}Git Clone{% endblock %}
{% block content %}
<div class="card-center">
    <h1>Git Clone</h1>
    <div class="card">
        <div class="form-group">
            <table>
                <tr>
                    <td><code>git clone </code></td>
                    <td><input type="text" id="repo" class="form-input" placeholder="http://yourgit.host/path-to-your/repo.git" required=""></td>
                </tr>
            </table>
        </div>
        <div class="form-group">
            <label>Directory (where to clone the repo):</label><br><br>
            <table>
                <tr>
                    <td>/{{ g.user.username }}/</td>
                    <td><input type="text" id="dir" class="form-input" style="display:inline-block;" placeholder="my-repo" value="{{ dir.path[dir.username.__len__()+2:] }}"></td>
            </table>
        </div>
        <table>
            <tbody><tr>
                <td>Display Mode:</td>
                <td>
                    <select id="mode" name="mode" class="form-select">
                        <option value="{{ FileMode.SOURCE }}">Source</option>
                        <option value="{{ FileMode.RENDER }}">Render</option>
                    </select>
                </td>
            </tr>
            <tr><td>Visibility:</td>
                <td>
                    <select id="visibility" name="visibility" class="form-select">
                            <option value="{{ FileVisibility.PUBLIC }}">Public</option>
                            <option value="{{ FileVisibility.HIDDEN }}">Hidden</option>
                    </select>
                </td>
            </tr>
            <tr><td>Overwrite:</td>
                <td>
                    <input id="overwrite-checkbox" type="checkbox" class="form-check" checked="">
                </td>
            </tr>
        </tbody></table>

        <div>
            <br><br>
            <button class="btn btn-primary" onclick="clone()">Clone Repository</button>
            <br><br>
        </div>
        <div>
            <b>Note:</b> this git clone will ingnore .git directory and hidden files.
        </div>
    </div>
</div>
{% endblock %}

{% block after_body %}
<script src="/static/js/private-api.js"></script>
<script>
const repo_field = document.getElementById("repo")
const dir_field = document.getElementById("dir")
const mode_select = document.getElementById("mode")
const visibility_seloct = document.getElementById("visibility")
const overwrite_chekc = document.getElementById("overwrite-checkbox")

async function clone() {
    let fields = {
        repo: repo_field.value,
        dir: dir_field.value,
        mode: mode_select.value,
        visibility: visibility_seloct.value,
        overwrite: overwrite_chekc.checked
    }
    showToast("Cloaning Repo");
    privateApi.git.clone(fields)
        .then(res => {
            if (!res.success) {
                showToast("Some error happend, please check your inputs.", "error");
            } else {
                showToast("Repo cloned", "success");
            }
        });
}
</script>
{% endblock %}
