<h1>HTMLify your dreams</h1>
<center><p>Make your HTML files live</p>
<form class="search-form" action="/search" method="GET" style="margin:20p;">
<input type="text" name="q" value="{{ q }}"/>
<input type="submit" value="Search" />
</form>
</center>
<a href="/login">Log in</a>&nbsp;&nbsp;&nbsp;
<a href="/registration">Register</a>&nbsp;&nbsp;&nbsp;
<a href="/dashboard">Dashboard</a>&nbsp;&nbsp;&nbsp;

<h1>Latest Files created on HTMLify</h1>

<table>
{% for file in files %}
<tr>
<td>{{ file.id }}</td>
<td>{{ file.name }}</td>
<td><a href="{{ file.path }}">View</a></td>
<td>{{ file.owner }}</td>
</tr>
{% endfor %}
</table>