<!DOCTYPE html>
<html>
<head>
    <title>Editing - {{ path }}</title>
  	{% include "stylesheet.html" %}
  	<link rel="stylesheet" src="/pygments.css" />
    <style>

    </style>
</head>
<body>
    <div class="edit-form">
        <h1>Editing - {{ path }}</h1>
        <form action="/action/edit" method="POST">
            <input type="text" name="path" value="{{ path }}" placeholder="Filename" /><br>
            Mode:
            {% if filetype == "html" or filetype == "htm" %}
            <input type="radio" name="mode" value="p" {% if current_mode == "p" %}checked{% endif %}/> Parse
            {% endif %}
            <input type="radio" name="mode" value="r" {% if current_mode == "r" %}checked{% endif %}/> Raw
            <input type="radio" name="mode" value="s" {% if current_mode == "s" %}checked{% endif %}/> Show
            | Visibility:
            <input type="radio" name="visibility" value="p" {% if current_visibility == "p" %}checked{% endif %}/> Public
            <input type="radio" name="visibility" value="h" {% if current_visibility == "h" %}checked{% endif %}/> Hide
            <input type="radio" name="visibility" value="o" {% if current_visibility == "o" %}checked{% endif %}/> Once<br>
            Password: <input type="text" name="password" value="{{ password }}"><br>
			<input type="submit" value="Save" />
			<a href="/{{ session["user"]["username"] }}/{{ path }}">View</a>
			<a href="/dashboard">Back</a>
            <textarea name="filecontent" placeholder="file content" rows="10">{{ filecontent }}</textarea><br>
        </form>
        <details class="more-edit-menu"><summary>More</summary>
        <form id="gff" class="github-fetch-form" action="/edit" method="POST">
        Fetch from GitHub:<br>
        https://GitHub.com/
        <input type="text" name="user" placeholder="User" required/>/
        <input type="text" name="repo" placeholder="Repo"required/>/blob/
        <input type="text" name="branch" value="main"required/>/
        <input type="text" name="file" value="README.md" required/>
        <input type="submit" name="github" value="fetch"/>
        </form>
        
        <form action="/edit" method="POST">
        Fetch from PasteBin:
        PasteId: <input type="text" name="pasteid" />
        <input type="submit" name="pastebin" value="Fetch" />
        </form>
        </details>
    </div>
</body>
</html>