<!DOCTYPE html>
<html>
<head>
    <title>Editing - {{ path }}</title>
  	{% include "stylesheet.html" %}
  	<link rel="stylesheet" src="/pygments.css" />
    <style>
    
    </style>
</head>
<body>
    <div class="edit-form">
        <h1>Editing - {{ path }}</h1>
        <form action="/action/edit" method="POST">
            <input type="text" name="path" value="{{ path }}" placeholder="File path" />
            {% if path %}
            Title:
            <input type="text" name="title" value="{{ title }}" placeholder="File title" /><br>
            {% endif %}
            <br>
            Mode:
            <select name="mode">
                {% if filetype == "html" or filetype == "htm" %}
                <option value="p" {% if current_mode == "p" %}selected{% endif %}>Parse</option>
                {% endif %}
                <option value="r" {% if current_mode == "r" %}selected{% endif %}>Raw</option>
                <option value="s" {% if current_mode == "s" %}selected{% endif %}>Show</option>
            </select>
            | Visibility:
            <select name="visibility">
            <option value="p" {% if current_visibility == "p" %}selected{% endif %}/> Public
            <option value="h" {% if current_visibility == "h" %}selected{% endif %}/> Hide
            <option value="o" {% if current_visibility == "o" %}selected{% endif %}/> Once
            </select><br><br>
            Password: <input type="text" name="password" value="{{ password }}"><br>
			<input type="submit" value="Save" />
			<a href="/{{ session["user"]["username"] }}/{{ path }}">View</a>
			<a href="/dashboard">Back</a>
            <textarea name="filecontent" placeholder="file content" rows="10">{{ filecontent }}</textarea><br>
        </form>
        <details class="more-edit-menu"><summary>More</summary>
        <form action="/edit" method="POST">
        Fetch from PasteBin:
        PasteId: <input type="text" name="pasteid" />
        <input type="submit" name="pastebin" value="Fetch" />
        </form>
        </details>
    </div>
</body>
</html>