<!DOCTYPE html>
<html>
<head>
    <title>HTMLify your dreams</title>
    {% include "stylesheet.html" %}
</head>
<body>
    <h1>HTMLify your dreams</h1>
	{% include "search-bar.html" %}
	{% include "nav-bar.html" %}
    <h1>Latest Files created on HTMLify</h1>
    {% for file in files %}
    <div class="search-result">
    {{ loop.index }}. <span>{{ file.name }}</span> | <span>Owner: {{ file.owner }}</span> | Views: {{ file.views }} | Comments: {{ file.comments | length }} | <a href="{{ file.path }}">Open</a>{% if session.get("user") and file.owner == session["user"]["username"] %}| <a href="/edit?filepath={{ file.path[file.owner|length + 1:] }}">Edit</a>{% endif %} {{ file.sizef() }}<br>
    <hr>
    {% if file.type == "text" %}
    <p>{{ file.content[:file.content|length%128] }}</p>
    {% endif %}
    </div>
    {% endfor %}
</body>
</html>