{# Dashboard #}
{% extends "base.html" %}
{% from "macros.html" import files_list_view, files_gird_view %}
{% block title %}Dashboard - {{ session["user"]["username"] }}{% endblock %}
{% block head_content %}
    <link href="/static/css/dashboard.css" rel="stylesheet">
    <link href="/static/css/files-view.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <h1>Dashboard</h1>

    <div class="dashboard-links">
        <a href="/edit?filepath={{ dir }}">Make new file</a>
        <a href="/file-upload?dir={{ dir }}">Upload File</a>
        <a href="/git?dir={{ dir }}">Git Clone</a>
    </div>

    {% set dirs = dir.split("/") %}
    <div class="dir-nav">
        <a href="/dashboard">{{ session["user"]["username"] }}</a>
        {% for d_path in dirs %}
        /<a href="/dashboard?dir={{ "/".join(dirs[:loop.index]) }}"
            {% if loop.index == dirs|length %}
            class="current"
            {% endif %}
            >
            {{ d_path }}
        </a>
        {% endfor %}
    </div>

    {{ files_list_view(items) }}
{% endblock %}
