{# User Profile #}
{% extends "base.html" %}
{% from "macros.html" import file_card, dir_card with context %}

{% block title %}
    {% if show_profile %}
        {{ dir.username }} | HTMLify profile
    {% else %}
        {{ dir.path }}
    {% endif %}
{% endblock %}

{% block head_content %}
    <link href="/static/css/file-card.css" rel="stylesheet">
    <link href="/static/css/dir-card.css" rel="stylesheet">
    <link href="/static/css/profile.css" rel="stylesheet">
{% endblock %}

{% block content %}
<h1>{{ dir.username }} - HTMLify profile</h1>
<main class="profile-container">
    {% if show_profile %}
    <!-- Profile Card -->
    <section class="profile-card">
        <div class="profile-header">
            <img src="/dp/{{ user.username }}" alt="{{ user.username }}'s Profile Picture" class="profile-picture">
            <div class="profile-info">
                <h1 class="profile-name">{{ user.username }}</h1>
                <p class="total-files">{{ user.files.count() }} Files</p>
                <p class="total-views">{{ user.total_views }} Views</p>
            </div>
        </div>

        <!--
        We litrely don't have anything to show here
        But might be in future
        <div class="profile-details">
            <h2>User Info</h2>
            <ul>
                <li><strong>Key:</strong>Value</li>
            </ul>
        </div>
        -->
    </section>

    <!-- Recent Comments -->
    {% if latest_comments %}
    <section class="comments-activity-container">
        <h2>Recent Comments</h2>
        {% for comment in latest_comments %}
        <span class="comment-activity">{{ user.username }} commented something <a href="/src{{ comment.file.path }}#comment-{{ comment.id }}">@{{ comment.file.path }}</a></span>
        {% endfor %}
    </section>
    {% endif %}

    {% endif %}

    <!-- Files -->
    <section style="max-width:100%">
                <h2 style="padding:4px;">files of <span style="font-family:monospace;">{{ dir.path }}</span></h2>
        {% for item in dir.items() %}
        {% if item.is_file and not item.as_guest %}
        {{ file_card(item) }}
        {% else %}
        {{ dir_card(item) }}
        {% endif %}
        {% endfor %}
    </section>
    </main>
{% endblock %}
