{# Flie Src #}
{% extends "base.html" %}
{% block title %}{{ file.title or file.name }}{% endblock %}
{% block head_content %}
    <link rel="stylesheet" href="/pygments.css">
    <link rel="stylesheet" href="/static/vendor/xterm/xterm.css">
    <style>
    #run-button {
        padding: 5px;
        color: #fbfbfb;
        background-color: #28a745;
        border: none;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        font-weight: bold;
    }
    #executor-selector {
        padding: 5px;
        background-color: #fbfbfb;
    }
    </style>
{% endblock %}
{% block content %}
	<h1>HTMLify</h1>
    <div class="file-container">
        <div class="file-header">
            <div class="file-title" style="overflow:auto;">{{ file.title or file.name }}</div>
            <div class="file-info">
                Views: {{ file.views }} | Author: <a href="/{{ file.username }}" style="text-decoration: none;color: black;">{{ file.user.username }}</a>
            </div>
        </div>
        <div class="file-content">

            {% if file.type == FileType.TEXT or file.blob.type == BlobType.TEXT -%}
                {{ file.highlighted_html(linenos=True) | safe }}
            {% elif file.type == FileType.IMAGE %}
                <img src="/raw{{ file.path }}" style="max-width:100%;height:auto" alt="{{ file.title }}">
            {% elif file.type == FileType.VIDEO %}
                <video src="/raw{{ file.path }}" style="max-width:100%" controls></video>
            {% elif file.type == FileType.AUDIO %}
                <audio src="/raw{{ file.path }}" controls></audio>
            {% elif file.type == FileType.APPLICATION and file.ext == "pdf" %}
                <iframe src="/raw{{ file.path }}" style="width:100%;height:100%;"></iframe> 
            {% else %}
                <a href="/raw{{ file.path }}" class="download-button" download>Download File<span class="file-size">({{ file.sizef() }})</a>
            {% endif %}

        </div>

        <div class="card">
            <button id="run-button" onclick="run()">Run &gt;</button>
            <select id="executor-selector">
                {% for executor in executors %}
                <option value="{{ executor.name }}">{{ executor.title }}</option>
                {% endfor %}
            </select>
            <div id="terminal"></div>
        </div>

        <div class="link-copy-box">
            <h3>Share this file:</h3>
            <input type="text" id="fileLink" value="{{ request.url }}" readonly>
            <button onclick="copycontent('fileLink')">Copy</button><br><br>
            <button id="shortlinkbutton" onclick="shortlink()">Short Link</button>
        <a href="/raw{{ file.path }}"><button>View Raw</button></a>
        <a href="/raw{{ file.path }}" download><button>Download File<span class="file-size">({{ file.sizef() }})</span></button></a>
        <button id="embedcodebutton" onclick="embedcode()">Embed Code</button>        
        <button onclick="clone()">Clone</button>
        </div>

        <!-- New comment method will be intrduce
        <h3>Comments</h3>
        
        {% for comment in [] %}
        <div class="comment-card" id="comment-{{ comment.id }}">
        <div class="comment-header">
        <span class="comment-author"><img src="/media/dp/{{ comment.author }}.jpg"><a href="/{{ comment.author }}">{{ comment.author }}</a></span>
        <span class="comment-time">{{ comment.time.strftime("%Y-%m-%d %H:%M") }}</span>
        </div>
        <hr>
        <div class="comment-content">
        {{ comment.content | safe }}
        </div>
        <div class="comment-actions">
            <a href="#comment-text-field" onclick="add_mention('{{ comment.author }}')">Reply(Mention)</a>
        </div>
        </div>
        {% endfor %}
        
        <div class="comment-section">
            <form action="/action/comment" method="POST">
            <input name="file-id" type="hidden" value="{{ file.id }}" />
            <textarea id="comment-text-field" name="content" placeholder="Leave a comment...
use <b>, <i>, <u> etc to format comment
use '@' for mention users." maxlength="1024" required></textarea>
			<input type="hidden" name="token" value="{{ token }}">
            <button>Comment</button>
            </form>
        </div>
        -->
    </div>

{% endblock %}

{% block after_body %}
<script src="/static/vendor/xterm/xterm.js"></script>
<script src="/static/vendor/socketio/socket.io.min.js"></script>
<script src="/static/js/code-execution.js"></script>

<script>
let running = false;

function copycontent(id) {
    var fileLinkInput = document.getElementById(id);
    fileLinkInput.select();
    document.execCommand("copy");
    alert("Copied to clipboard!");
}

function embedcode() {
    document.getElementById("embedcodebutton").outerHTML = `<input type="text" id="embedcode" value="<iframe src='{{ request.scheme }}://api.{{ request.host }}/embed?id={{ file.id }}'></iframe>" readonly><button onclick="copycontent('embedcode')">Copy</button>`;
}

function shortlink(){
    document.getElementById("shortlinkbutton").outerHTML = `<input type="text" id="shortlink" value="{{ file.shortlink().url }}" readonly><button onclick="copycontent('shortlink')">Copy</button>`;
}

function clone() {
    window.location.href = "{{ SCHEME }}://my.{{ SERVER_NAME }}/files/edit?clone={{ file.id }}";
}

function add_mention(username){
    var comment_field = document.getElementById("comment-text-field");
    comment_field.value = "@"+username + " " + comment_field.value;
}

async function run() {
    if (running)
        return
    running = true;

    document.getElementById("run-button").style.display = "none";
    document.getElementById("executor-selector").style.display = "none";

    let executor = document.getElementById("executor-selector").value;
    if (!executor || executor === "") {
        alert("Select an executor");
        return;
    }
    let raw_url = "{{ SCHEME }}://{{ SERVER_NAME }}/raw{{ file.path }}";
    let res = await fetch(raw_url);
    let code = await res.text();
    let execution = new CodeExecution(code, executor, document.getElementById("terminal"));
    await execution.ready;
    execution.join();
    execution.start();
}

</script>
{% endblock %}
