{# Flie Show #}
{% extends "base.html" %}
{% block title %}{{ file.name }}{% endblock %}
{% block head_content %}
    <link rel="stylesheet" href="/pygments.css">
    <style>
        .terminal {
            display: none; /* Hidden by default */
            color: white;
            background-color: black;
            font-family: Monospace;
            padding: 10px;
            width: 90%;
            height: 400px;
            overflow-y: auto;
            border: 1px solid #333;
            white-space: pre; /* Preserve spacing and prevent wrapping */
            overflow-wrap: break-word; /* Break lines character by character */
            cursor: text; /* Indicate text entry when hovering over the terminal */
        }
        .line {
            display: block;
            width: 100%; /* Ensure lines span full terminal width */
        }
        .editable {
            outline: none;
        }
        .error {
            color: red;
        }
        #terminal-input {
            margin: 4px;
            display: none;
            font-family: Monospace;
            width: 90%;
            height: auto;
            cursor: text;
        }
        #run-button, #executor-selector {
            padding: 2px;
            margin: 4px;
        }
    </style>
{% endblock %}
{% block content %}
	<h1>HTMLify</h1>
    <div class="file-container">
        <div class="file-header">
            <div class="file-title" style="overflow:auto;">{{ file.name }}</div>
            <div class="file-info">
                Views: {{ file.views }} | Author: <a href="/{{ file.username }}" style="text-decoration: none;color: black;">{{ file.user.username }}</a>
            </div>
        </div>
        <div class="file-content">

            {% if file.type == FileType.TEXT or file.blob.type == BlobType.TEXT -%}
                {{ file.highlighted_html(linenos=True) | safe }}
            {% elif file.type == FileType.IMAGE %}
                <img src="/raw{{ file.path }}" style="max-width:100%;height:auto" alt="{{ file.title }}">
            {% elif file.type == FileType.VIDEO %}
                <video src="/raw{{ file.path }}" style="max-width:100%" controls></video>
            {% elif file.type == FileType.AUDIO %}
                <audio src="/raw{{ file.path }}" controls></audio>
            {% elif file.type == FileType.APPLICATION and file.ext == "pdf" %}
                <iframe src="/raw{{ file.path }}" style="width:100%;height:100%;"></iframe> 
            {% else %}
                <a href="/raw{{ file.path }}" class="download-button" download>Download File<span class="file-size">({{ file.sizef() }})</a>
            {% endif %}

        </div>

        <div>
            <button id="run-button" onclick="run()">Run &gt;</button>
            <select id="executor-selector">
                {% for executor in executors %}
                <option value="{{ executor["name"] }}">{{ executor["lang"] }}</option>
                {% endfor %}
            </select>
            <div id="terminal" class="terminal"></div>
            <input type="text" id="terminal-input" onkeydown="handleTerminalInput(event)" placeholder="input">
        </div>
        <div class="link-copy-box">
            <h3>Share this file:</h3>
            <input type="text" id="fileLink" value="{{ request.url }}" readonly>
            <button onclick="copycontent('fileLink')">Copy</button><br><br>
            <button id="shortlinkbutton" onclick="shortlink()">Short Link</button>
        <a href="/raw/{{ file.path }}"><button>View Raw</button></a>
        <a href="/raw/{{ file.path }}" download><button>Download File<span class="file-size">({{ file.sizef() }})</span></button></a>
        <button id="embedcodebutton" onclick="embedcode()">Embed Code</button>        
        <form method="POST" action="/edit" style="display:inline-block;">
            <input type="hidden" name="clone" value="{{ file.id }}"/>
            <button>Clone</button>
        </form>
        </div>

        <!-- New comment method will be intrduce
        <h3>Comments</h3>
        
        {% for comment in [] %}
        <div class="comment-card" id="comment-{{ comment.id }}">
        <div class="comment-header">
        <span class="comment-author"><img src="/media/dp/{{ comment.author }}.jpg"><a href="/{{ comment.author }}">{{ comment.author }}</a></span>
        <span class="comment-time">{{ comment.time.strftime("%Y-%m-%d %H:%M") }}</span>
        </div>
        <hr>
        <div class="comment-content">
        {{ comment.content | safe }}
        </div>
        <div class="comment-actions">
            <a href="#comment-text-field" onclick="add_mention('{{ comment.author }}')">Reply(Mention)</a>
        </div>
        </div>
        {% endfor %}
        
        <div class="comment-section">
            <form action="/action/comment" method="POST">
            <input name="file-id" type="hidden" value="{{ file.id }}" />
            <textarea id="comment-text-field" name="content" placeholder="Leave a comment...
use <b>, <i>, <u> etc to format comment
use '@' for mention users." maxlength="1024" required></textarea>
			<input type="hidden" name="token" value="{{ token }}">
            <button>Comment</button>
            </form>
        </div>
        -->
    </div>

<script>
function copycontent(id) {
    var fileLinkInput = document.getElementById(id);
    fileLinkInput.select();
    document.execCommand("copy");
    alert("Copied to clipboard!");
}

function embedcode() {
    document.getElementById("embedcodebutton").outerHTML = `<input type="text" id="embedcode" value="<iframe src='{{ request.scheme }}://{{ request.host }}/api/embed?id={{ file.id }}'></iframe>" readonly><button onclick="copycontent('embedcode')">Copy</button>`;
}

function shortlink(){
    document.getElementById("shortlinkbutton").outerHTML = `<input type="text" id="shortlink" value="{{ file.shortlink().url }}" readonly><button onclick="copycontent('shortlink')">Copy</button>`;
}

function add_mention(username){
    var comment_field = document.getElementById("comment-text-field");
    comment_field.value = "@"+username + " " + comment_field.value;
}
// TODO: Make a terminal module/library
// Treminal emulator stuffus
const terminal = document.getElementById('terminal');
const terminalInput = document.getElementById("terminal-input");
var input_buffer = "";
var last_line_enter = false;

function addLine() {
    // Add new editable line
    const line = document.createElement('div');
    line.classList.add('line', 'editable');
    line.setAttribute('contenteditable', 'true');
    terminal.appendChild(line);

    line.focus();

    terminal.scrollTop = terminal.scrollHeight;
}

function focusLineAtEnd(line) {
    line.focus();

    const range = document.createRange();
    const selection = window.getSelection();
    range.selectNodeContents(line);
    range.collapse(false);
    selection.removeAllRanges();
    selection.addRange(range);
}

function addOutputLine(content) {
    const currentLine = document.querySelector('.line.editable');
    const line = document.createElement("div");
    line.innerText = content;
    line.classList.add("line");
    terminal.removeChild(currentLine);
    terminal.appendChild(line);
    terminal.appendChild(currentLine);
    terminal.scrollTop = terminal.scrollHeight;
    focusLineAtEnd(currentLine);
    lockLine(line);
}

function appendLastLine(content) { 
    // Append content on last output line, create in not found
    const lastLine = document.querySelector('.terminal .line:last-child');
    if (lastLine) {
        lastLine.innerText += content;
    } else {
        addOutputLine(content);
    }
    lockLine(lastline);
}

function appendOutput(content) {
    let lastLine = terminal.querySelector('.line:last-child');

    if (!lastLine || lastLine.innerText.endsWith("\n")) {
        // Create a new output line
        let newLine = document.createElement("div");
        newLine.classList.add("line");
        newLine.innerText = content;
        terminal.appendChild(newLine);
    } else {
        // Append to last line
        lastLine.innerText += content;
    }

    terminal.scrollTop = terminal.scrollHeight; // Auto-scroll
}

function appendError(content) {
    // same as appendOutput, but adds error class to the line
    let lastLine = terminal.querySelector('.line:last-child');
    if (!lastLine || lastLine.innerText.endsWith("\n")) {
        let newLine = document.createElement("div");
        newLine.classList.add("line");
        newLine.classList.add("error");
        newLine.innerText = content;
        terminal.appendChild(newLine);
    } else {
        lastLine.innerText += content;
    }
    terminal.scrollTop = terminal.scrollHeight;
}

function lockLine(line) {
    // Lock the previous line to make it non-editable
    line.removeAttribute('contenteditable');
    line.classList.remove('editable');
}

function handleTerminalInput(event) {
    let inputField = document.getElementById("terminal-input");
    
    if (event.key === "Enter") {
        event.preventDefault();
        
        let inputText = inputField.value + "\n";
        input_buffer += '\n';
        console.log(input_buffer);
        inputField.value = ""; // Clear input field
        appendOutput('\n');
    } else if (event.key.length === 1) {
        input_buffer += event.key;
        appendOutput(event.key);
    }
}

function run() {
    let executor = document.getElementById("executor-selector").value;
    if (!executor) {
        alert("Please select an executor");
        return
    }

    let file_id = {{ file.id }};
    let raw_code;

    fetch(`/api/file?id=${file_id}`)
        .then(response => response.json())
        .then(data => {
            raw_code = data["content"];

            const formdata = new FormData();
            formdata.append("code", raw_code);
            formdata.append("executor", executor);

            fetch("/api/exec", {
                method: "POST",
                body: formdata
            })
                .then(response => response.json())
                .then(data => {
                    let pid = data.pid;

                    if (!pid) {
                        return;
                    }

                    terminal.style.display = "block";
                    terminalInput.style.display = "block";
                    poll(pid);
                });
        });
    
    addLine();
}

function poll(pid) {
    let intervalid = setInterval(() => {
        const formdata = new FormData();
        let user_input = input_buffer;
        console.log(input_buffer);
        input_buffer = "";

        if (user_input) {
            formdata.append("input", user_input);
        }

        fetch(`/proc/${pid}/communicate`, {
            method: "POST",
            body: formdata
        })
        .then(response => response.json())
        .then(proc => {
            if (!('pid' in proc)) return;

            let stdout = proc.stdout;
            let stderr = proc.stderr;

            if (stdout) {
                appendOutput(stdout);
            }

            if (stderr) {
                appendError(stderr);
            }

            if (!proc.running) {
                clearInterval(intervalid);
            }

        })
        .catch(error => {
            console.error('Polling Error:', error);
        });
    }, 100);

    setTimeout(() => {
        clearInterval(intervalid);
    }, 64000);
}


</script>
{% endblock %}
