<!DOCTYPE html> 
<html>
    <head>
        <meta charset="UTF-8">
        <title>HTMLify Frames</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/frames.css">
        <link rel="stylesheet" href="/static/css/components/toast.css">
        {% include "extras.html" %}
    </head>
    <body>
        <div id="toast-container"></div>
        <main>
            <div class="grid">

                <div class="cell">
                    <iframe src="/frames/default" id="frame" name="frame"></iframe>
                </div>

                <div class="cell toolbar">
                    <img src="/static/svg/user.svg" id="user-dp" alt="username" title="username"><br>
                    <img src="/static/svg/message-square-text.svg" id="comments-icon" onclick="showcomments()" alt="comments" title="comments">
                    <img src="/static/svg/rotate-cw.svg" onclick="setframe()" alt="refresh" title="refresh">
                    <img src="/static/svg/arrow-big-up.svg" id="up-icon" onclick="frameup()" alt="up" title="up">
                    <img src="/static/svg/arrow-big-down.svg" id="down-icon" onclick="framedown()" alt="down" title="down">
                    <img src="/static/svg/link.svg" id="share-icon" onclick="share()" alt="share" title="copy link">
                    <img src="/static/svg/external-link.svg" onclick="openframeexternal()" alt="open in new tab" title="open in new tab">
                </div>

                <div class="cell meta-bar">
                    <div id="meta">
                        <p id="title"></p>
                        <p id="stats">
                        Views: <span id="view-count"></span> 
                        Comments: <span id="comment-count"></span>
                        User: <span><a id="profile-link" title="Open profile"></a></span>
                        </p>
                    </div>
                    <a href="/">
                        <img src="/static/svg/arrow-left.svg" alt="back button">
                    </a>
                </div>

            </div>
        </main>
    </body>
<script src="/static/js/utils.js"></script>
<script src="/static/js/public-api.js"></script>
<script src="/static/js/pages/frames.js"></script>
</html>
