{# home.html #}
{% extends "base.html" %}
{% from "macros.html" import file_card with context %}
{% block title %}HTMLify your dreams{% endblock %}
{% block head_content %}
    <link href="/static/css/file-card.css" rel="stylesheet">
    <link href="/static/css/dir-card.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <h1>HTMLify your dreams</h1>
    <form id="filter-form" class="filter-form" action="" method="POST">
    <div class="filter-label">Filter Options:</div>
    <label class="filter-option">
    <input type="checkbox" name="file-modes" value="s" {% if 's' in session["filter-file-modes"] %}checked{% endif %}> Source
    </label>
    <label class="filter-option">
    <input type="checkbox" name="file-modes" value="r" {% if 'r' in session["filter-file-modes"] %}checked{% endif %}> Render
    </label>
    <select name="filter-order">
        <option value="r" {% if session.get("filter-file-order", "r") == "r"%}selected{% endif %}>Random</option>
        <option value="n" {% if session.get("filter-file-order", "r") == "n"%}selected{% endif %}>Newest</option>
    </select>
    <button class="filter-button" type="submit">Filter</button>
    </form>
    {% for file in files %}
        {{ file_card(file) }}
    {% endfor %}
    <script>
        // to prevent the Document expire worning on bact-to-home after filter
        document.getElementById("filter-form").addEventListener("submit", function(e) {
            e.preventDefault(); 
            let formData = new FormData(this);
            fetch("", {
                method: "POST",
                body: formData
            })
            .then(responce => responce.text())
            .then(data => {
                console.log("data:", data);
                location.reload();
            });
        });
    </script>

{% endblock %}
