{# home.html #}
{% extends "base.html" %}
{% from "macros.html" import file_card with context %}
{% block title %}HTMLify your dreams{% endblock %}
{% block head_content %}
    <link href="/static/css/file-card.css" rel="stylesheet">
    <link href="/static/css/dir-card.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <h1>HTMLify your dreams</h1>
    <form id="filter-form" method="POST">
        <input id="file-mode-source-checkbox" type="checkbox" name="file-modes" value="{{ FileMode.SOURCE }}" {% if FileMode.SOURCE in session["filter-file-modes"] %}checked{% endif %}>
        <label for="file-mode-source-checkbox">Source</label>
        <input id="file-mode-render-checkbox" type="checkbox" name="file-modes" value="{{ FileMode.RENDER }}" {% if FileMode.RENDER in session["filter-file-modes"] %}checked{% endif %}>
        <label for="file-mode-render-checkbox">Render</label>
        <select name="filter-order">
            <option value="r" {% if session.get("filter-file-order", "r") == "r"%}selected{% endif %}>Random</option>
            <option value="n" {% if session.get("filter-file-order", "r") == "n"%}selected{% endif %}>Newest</option>
        </select>
        <button class="btn btn-primary">Filter</button>
    </form>
    <hr>
    {% for file in files %}
    {{ file_card(file) }}
    {% endfor %}
    <script>
        // to prevent the Document expire worning on bact-to-home after filter
        document.getElementById("filter-form").addEventListener("submit", function(e) {
            e.preventDefault(); 
            let formData = new FormData(this);
            fetch("", {
                method: "POST",
                body: formData
            })
            .then(responce => responce.text())
            .then(data => {
                console.log("data:", data);
                location.reload();
            });
        });
    </script>

{% endblock %}
