{# home.html #}
{% extends "base.html" %}
{% from "macros.html" import file_card %}
{% block title %}HTMLify your dreams{% endblock %}
{% block head_content %}
    <link href="/static/css/file-card.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <h1>HTMLify your dreams</h1>
    <form class="filter-form" action="" method="POST">
    <div class="filter-label">Filter Options:</div>
    <label class="filter-option">
    <input type="checkbox" name="file-modes" value="p" {% if 'p' in session["filter-file-modes"] %}checked{% endif %}> Parse
    </label>
    <label class="filter-option">
    <input type="checkbox" name="file-modes" value="s" {% if 's' in session["filter-file-modes"] %}checked{% endif %}> Show
    </label>
    <label class="filter-option">
    <input type="checkbox" name="file-modes" value="r" {% if 'r' in session["filter-file-modes"] %}checked{% endif %}> Raw
    </label>
    <select name="filter-order">
        <option value="r" {% if session.get("filter-file-order", "r") == "r"%}selected{% endif %}>Random</option>
        <option value="n" {% if session.get("filter-file-order", "r") == "n"%}selected{% endif %}>Newest</option>
        <option value="o" {% if session.get("filter-file-order", "r") == "o"%}selected{% endif %}>Oldest</option>
    </select>
    <button class="filter-button" type="submit">Filter</button>
    </form>
    {% for file in files %}
        {{ file_card(file) }}
    {% endfor %}
{% endblock %}
