{% extends "base.html" %}

{% block content %}
<div class="card-center">
    <h1>Link Shortner</h1>
    <div class="card card-half">
        <div class="form-group">
            <input id="url-input" type="text" class="form-input" placeholder="Enter your long URL here">
        </div>
        <div id="shortlink-container" class="card card-center" style="display:none;">
            <code id="shortlink" class="form-input" onclick="copy_link()"></code>
            <img id="qr-code" alt="QR Code"><br>
            <a class="btn" download>Download QR Code</a><br>
            <h3 id="hit-count"></h3><br>
            <h3>Comment mention: <span id="mention"></span></h3><br>
        </div>
        <div class="form-group">
            <button onclick="short()" class="btn btn-primary">Shorten URL</button>
        </div>
    </div>
</div>
{% endblock %}

{% block after_body %}
<script>
const url_input = document.getElementById("url-input");
const shortlink_container = document.getElementById("shortlink-container");
const shortlink = document.getElementById("shortlink");
const qr_image = document.getElementById("qr-code");
const hit_count = document.getElementById("hit-count");
const mention = document.getElementById("mention");

function short() {
    publicApi.shortlink.create((url_input.value))
        .then(res => {
            if (!res.success) {
                showToast("Some Error happned", "error");
            } else {
                shortlink.innerText = res.shortlink.url;
                qr_image.src = publicApi.qr.get_url(res.shortlink.url);
                hit_count.innerText = `Total hits: ${res.shortlink.hits}`;
                mention.innerText = `@r/${res.shortlink.short}`;
                shortlink_container.style.display = "flex";
                showToast("ShortLink Created", "success");
            }
        });
}

function copy_link() {
    copyToClipboard(shortlink.innerText);
}
</script>
{% endblock %}
