{# Macros #}

{# File Card #}
{% macro file_card(file, hls=0, hle=0, custom_body=None) %}
<div class="file-card" onclick="window.location.href='/{{ file.path }}'">
    <div class="file-card-header">
        <div>
            <a href="/{{ file.owner }}">
                <img class="profile-pic" src="/media/dp/{{ file.owner }}.jpg" title="{{ file.owner }}">
            </a>
        </div>
        <div class="file-info">
            <b class="file-title">{{ file.name }}</b>
            <span class="file-path">{{ file.path }}</span>
        </div>
        <div class="meta">
            <div>{{ file.views }} Views</div>
            <div>{{ file.comments | length }} Comments</div>
        </div>
    </div>

    {% if file.password -%}
        {% set custom_body = "<i style='color:blue;'>File is locked</i>" -%}
    {% elif file.visibility == "h" -%}
        {% set custom_body = "<i style='color:red;'>File is hidden</i>" -%}
    {% elif file.visibility == "o" -%}
        {% set custom_body = "<i style='color:gray;'>File can only seen once</i>" -%}
    {% elif file.type != "text" -%}
        {% set custom_body = "<i style='color:purple;'>Media file</i>" -%}
    {% endif -%}

    <div class="file-card-body">
        {% if custom_body == None %}
            {% for line in file.content[:512].split("\n")[:8] %}
                {{ line }}<br>
            {% endfor %}
        {% else %}
            {{ custom_body | safe }}
        {% endif %}
    </div>
    <div class="action-buttons">
        {% if session.get("user") and file.owner == session["user"]["username"] %}
            <a href="/edit?filepath={{ file.path[file.owner|length + 1:] }}" title="Edit">
                <button><img src="/static/svg/file-pen-line.svg"></button>
            </a>
        {% endif %}
        <a href="/{{ file.path }}" title="View">
            <button><img src="/static/svg/eye.svg"></button>
        </a>
        <a href="/src/{{ file.path }}" title="Source">
            <button><img src="/static/svg/code.svg"></button>
        </a>
        <a href="/{{ file.path }}#run-button" title="Run">
            <button><img src="/static/svg/play.svg"></button>
        </a>
    </div>
</div>
{% endmacro %}

{# Dir Card #}
{% macro dir_card(dir) %}
<div class="dir-card" onclick="window.location.href = '/{{ dir.dir }}'">
    <div class="dir-card-header">
        <div>
            <a href="/{{ dir.dir[:dir.dir.find("/")] }}">
                <img class="profile-pic" src="/media/dp/{{ dir.dir[:dir.dir.find("/")] }}.jpg" title="{{ dir.dir[:dir.dir.find("/")] }}">
            </a>
        </div>
        <div class="dir-info">
            <b class="dir-title">{{ dir.title }}</b>
            <span class="dir-path">{{ dir.dir }}</span>
        </div>
        <div class="meta">
            <div>{{ dir.items() | length }} Items</div>
        </div>
    </div>
    <div class="dir-card-body">
        {% for item in dir.items()[:8] %}
        {% if item.__class__.__name__ == "Dir" %}
            <li style="color:green;">{{ item.title }}</li>
        {% else %}
            <li style="color:black;">{{ item.name }}</li>
        {% endif %}
        {% endfor %}
    </div>
    <div class="action-buttons">
        <a href="/{{ dir.dir }}" title="Open">
            <button><img src="/static/svg/folder-open.svg"></button>
        </a>
    </div>
</div>
{% endmacro %}

{# Grid Item #}

{# Files Grid View #}
{% macro files_grid_view(items) %}
<div class="files-grid">
    {% for item in items %}
    {% if item.is_file() %}
    <div
        class="item"
        onclick="window.location.href = '/edit?filepath={{ item.path[item.path.find('/')+1:] }}'"
        data-title="{{ item.name }}"
        data-path="{{ item.path }}"
        >
        <div class="item-icon">
            {% if item.type == "text" %}
            <img src="/static/svg/file-code.svg" alt="Thumbnail" class="item-thumbnail">
            {% elif item.type == "image" %}
            <img src="/static/svg/file-image.svg" alt="Thumbnail" class="item-thumbnail">
            {% elif item.type == "audio" %}
            <img src="/static/svg/file-audio.svg" alt="Thumbnail" class="item-thumbnail">
            {% elif item.type == "video" %}
            <img src="/static/svg/file-video.svg" alt="Thumbnail" class="item-thumbnail">
            {% else %}
            <img src="/static/svg/file-question.svg" alt="Thumbnail" class="item-thumbnail">
            {% endif %}
        </div>

        <div class="item-details">
            <div class="item-title">{{ item.name or item.path[item.path.rfind("/")+1:] }}</div>
            <div class="item-filename">{{ item.path[item.path.rfind("/")+1:] }}</div>
            <div class="item-size">Size: {{ item.sizef() }}</div>
        </div>

        <div class="item-actions">
            <a href="{{ item.path }}">
                <button title="View"><img src="/static/svg/eye.svg"></button>
            </a>
            
            <form action="/delete" method="POST" style="display:inline;">
                <input type="hidden" name="path" value="{{ item.path }}">
                <button class="delete" title="Delete"><img src="/static/svg/trash.svg"></button>
            </form>
        </div>
    </div>
    {% else %}
    <div
        class="item"
        onclick="window.location.href = '/dashboard?dir={{ item.dir[item.dir.find("/")+1:] }}'"
        data-title="{{ item.title }}"
        data-path="{{ item.dir }}"
        >
        <div class="item-icon">
            <img src="/static/svg/folder-open.svg">
        </div>

        <div class="item-details">
            <div class="item-title">{{ item.title }}</div>
            <div class="item-filename">{{ item.title }}/</div>
            <div class="item-size">Content: {{ item.items() | length }} items</div>
        </div>

        <div class="item-actions">
            <a href="/dashboard?dir={{ item.dir[item.dir.find("/")+1:] }}" title="Open">
                <button><img src="/static/svg/folder-open.svg"></button>
            </a>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endmacro %}

{# Fils List View #}
{% macro files_list_view(items) %}
<div class="files-list">
    {% for item in items %}
    {% if item.is_file() %}
    <div
        class="item" onclick="window.location.href = '/edit?filepath={{ item.path[item.path.find('/')+1:] }}'"
        data-title="{{ item.name }}"
        data-path="{{ item.path }}"
        >
        {% if item.type == "text" %}
        <img src="/static/svg/file-code.svg" alt="Thumbnail" class="item-thumbnail">
        {% elif item.type == "image" %}
        <img src="/static/svg/file-image.svg" alt="Thumbnail" class="item-thumbnail">
        {% elif item.type == "audio" %}
        <img src="/static/svg/file-audio.svg" alt="Thumbnail" class="item-thumbnail">
        {% elif item.type == "video" %}
        <img src="/static/svg/file-video.svg" alt="Thumbnail" class="item-thumbnail">
        {% else %}
        <img src="/static/svg/file-question.svg" alt="Thumbnail" class="item-thumbnail">
        {% endif %}

        <div class="item-info">
            <h3 class="item-name">{{ item.name or item.path[item.path.rfind("/"):] }}</h3>
            <h5 class="item-path">{{ item.path }}</h5>
            <div class="item-meta">Size: {{ item.sizef() }}</div>
        </div>

        <div class="item-actions">
            <a href="{{ item.path }}">
                <button title="View"><img src="/static/svg/eye.svg"></button>
            </a>
            <a href="/edit?filepath={{ item.path[item.path.find("/")+1:] }}">
                <button title="Edit"><img src="/static/svg/file-pen-line.svg"></button>
            </a>
            <form action="/delete" method="POST" style="display:inline;">
                <input type="hidden" name="path" value="{{ item.path }}">
                <button class="delete" title="Delete"><img src="/static/svg/trash.svg"></button>
            </form>
        </div>
    </div>
    {% else %} 
    <div
        class="item"
        onclick="window.location.href = '/dashboard?dir={{ item.dir[item.dir.find("/")+1:] }}'"
        data-title="{{ item.title }}"
        data-path="{{ item.dir }}"
        >
        <img src="/static/svg/folder-open.svg" alt="Thumbnail" class="item-thumbnail">

        <div class="item-info">
            <h3 class="item-name">{{ item.title }}</h3>
            <h5 class="item-path">{{ item.path }}</h5>
            <div class="item-meta">Contains {{ item.items() | length }} Items</div>
        </div>

        <div class="item-actions">
            <a href="/dashboard?dir={{ item.dir[item.dir.find("/")+1:] }}">
                <button><img src="/static/svg/folder-open.svg"></button>
            </a>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endmacro %}
