<style></style>

<div class="nav-bar">
    <a href="/">HTMLify</a>

    <!-- search bar -->
    <div class="search-bar">
        <form action="/search" method="GET">
            <input type="search" name="q" value="{{ q }}" placeholder="Search" />
            <input type="submit" value="Search" />
        </form>
    </div>

	{% if not session.get("user") %}
    <a href="/login">Log in</a>
    <a href="/registration">Register</a>
    {% else %}
    <a href="/notifications" >Notifications
    {% if session["user"]["notifications"] > 0 %}
    <!--<sup style="color:white;background-color:#ff5511;border-radius:50%;">{{ session["user"]["notifications"] }}</sup>-->
    <sup style="color:white; background-color:#ff5511; border-radius:50%; padding: 2px 5px;">
    {{ session["user"]["notifications"] }}
    </sup>
    {% endif %}
    </a>
    {% endif %}
    <a href="/dashboard">Dashboard</a>
    <a href="/r">Shortlinks</a>
    <a href="/frames">Frames</a>
    <a href="/api">API</a>

    {% if session.get("user") %}
    <a href="/{{ session["user"]["username"] }}" class="right" style="padding:0px;">
        <img src="/media/dp/{{ session["user"]["username"] }}.jpg">
    </a>
    <a href="/action/logout" class="right">Log out</a>
    {% endif %}
</div>
