{# Notifications #}
{% extends "base.html" %}
{% block title %}Notifications{% endblock %}
{% block content %}
  <h1>Notifications</h1>
  <div class="notification-container">
    {% if notifications|length == 0 %}
    <h1>There is no notifications for you, check back after some time :)</h1>
    {% endif %}
    {% for notification in notifications[::-1] %}
    <div class="notification">
      <!--
      <img src="profile-image.jpg" alt="User">
      -->
      <div class="notification-content {% if not notification.viewed %} opened {% endif %}">
        <a href="/notifications/{{ notification.id }}">
          <p>{{ notification.content|safe }}</p>
          <sub>{{ notification.send_time }}</sub>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
