{# User Profile #}
{% extends "base.html" %}
{% from "macros.html" import file_card, dir_card %}
{% block title %}{{ user.username }} | HTMLify profile{% endblock %}
{% block head_content %}
    <link href="/static/css/file-card.css" rel="stylesheet">
    <link href="/static/css/dir-card.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <h1>{{ user.username }} - HTMLify profile</h1>
    <main class="profile-container">
        <section class="profile-header">
            <img src="/media/dp/{{ user.username }}.jpg" alt="{{ user.username }}'s Profile Picture" class="profile-picture">
            <div class="profile-info">
                <h1 class="profile-name">{{ user.username }}</h1>
                <p class="total-files">{{ user.file_count() }} Files</p>
                <p class="total-views">{{ user.view_count() }} Views</p>
            </div>
        </section>
        {% if latest_comments %}
        <section class="comments-activity-container">
            <ul class="user-comments" style="width:90%;">
            {% for comment in latest_comments[::-1] %}
            <!--<li><p>{{ user.username }} commented something <a href="{{ comment["filepath"] }}#comment-{{ comment["id"] }}" target="_blank">@{{ comment["filepath"] }}</a></p></li>-->
            <span class="comment-activity">{{ user.username }} commented something <a href="{{ comment["filepath"] }}#comment-{{ comment["id"] }}">@{{ comment["filepath"] }}</a><br/></span>
            {% endfor %}
            </ul>
        </section>
        {% endif %}
        <section style="max-width:100%">
            <h2>Latest files of {{ request.path }}</h2>
            {% for item in items %}
            {% if item.is_file() and not item.as_guest %}
                {{ file_card(item) }}
            {% else %}
                {{ dir_card(item) }}
            {% endif %}
            {% endfor %}
        </section>
    </main>
{% endblock %}
