<!DOCTYPE html>
<html>
<head>
    <title>Registration</title>
    {% include "stylesheet.html" %}
    <style>

    </style>
</head>
<body>
	<h1>HTMLify</h1>
    {% include "nav-bar.html" %}
    <div class="registration-form">
        <h1>User Registration</h1>
        {% if error %}
        <div class="error-msg">
            {{ error }}
        </div>
        {% endif %}
        <form action="/action/registration" method="POST">
            <input type="text" name="username" placeholder="Username" required />
            <input type="email" name="email" placeholder="you@example.com" required />
            <input type="password" name="password" placeholder="Password" required />
            <input type="password" name="repassword" placeholder="Re-Password" required />
            <input type="hidden" name="token" value="{{ token }}" />
            <input type="submit" value="Register" />
        </form>
    </div>
</body>
</html>